<div class="col-md-20 mx-auto">
    <div class="card mt-4 text-center">      
        <table class="table">
            <thead>
                <tr>
                    <th>ID_paciente</th>
                    <th>Tipo de archivo</th>
                    <th>Title</th>
                    <th>Description</th>
                </tr>
            </thead>
            {{#each photos}}
            <tbody>
                <tr>
                    <td>{{ID_Pac}}</td>
                    <td>{{TipoArchivo}}</td>
                    <td>{{title}}</td>
                    <td>{{description}}</td>
                    <td><a href="{{imageURL}}" target="_blank" class="btn btn-primary buttonFormat">View</a></td>
                    <td><a href="" onclick='alert("Nose actualizar mongo, pero prometo hacerlo para la tecno :(")' class="btn btn-primary buttonFormat" >update</a></td>
                    <td><a href="/images/download/{{_id}}" download="new" target="_blank" class="btn btn-primary buttonFormat">Descargar </a></td>
                    <td><a href="/images/delete/{{_id}}" class="btn btn-danger buttonFormat">Delete</a></td>
                </tr>
            </tbody>
            {{/each}}
        </table>
    </div>
</div>



