<div class="row">
<div class="col-md-4">
        <table class="table">
            <thead>
                <tr>
                    <th>ID_terapeuta</th>
                    <th>ID_paciente</th>
                    <th>Tipo de archivo</th>
                    <th>Title</th>
                    <th>Description</th>
                </tr>
            </thead>
            {{#each photos}}
            <tr>
                <td>{{ID_Ter}}</td>
                <td>{{ID_Pac}}</td>
                <td>{{TipoArchivo}}</td>
                <td>{{title}}</td>
                <td>{{description}}</td>
                {{#if user.isTherapist}}
                <td>
                    <a href="{{imageURL}}" target="_blank" class="btn btn-primary">View</a>
                    <a class="btn btn-primary" target="_blank" onclick='alert("Nose actualizar mongo, pero prometo hacerlo para la tecno :(")' >update</a>
                    <a href="/images/download/{{_id}}" download="new" target="_blank" class="btn btn-primary">Descargar </a>
                    <a href="/images/delete/{{_id}}" class="btn btn-danger">Delete</a>
                </td>
                {{/if}}
            </tr>
            {{/each}}
            <tbody>

            </tbody>
        </table>
    </div>
</div>


