<div class="card text-center mb-3">
    <div class="card-body">   
            <h2 class="card-title">Archivos</h2>             
            {{#each photoarchivos}}
            <img class="card-img-top" src="{{imageURL}}" alt="Card image cap">           
            <h3 class="card-subtitle mb-2 text-muted">{{title}}</h3>
            <p class="card-text">{{description}}</p>            
            <a href="/images/downloadarc/{{_id}}" download="new" target="_blank" class="btn btn-primary">Descargar </a>                               
            {{/each}}
    </div>
</div>

<div class="card text-center mb-3">
    <div class="card-body">   
            <h2 class="card-title">Videos</h2>             
            {{#each photovideos}}
            <img class="card-img-top" src="{{imageURL}}" alt="Card image cap">           
            <h3 class="card-title mb-2 text-muted">{{title}}</h3>
            <p class="card-text">{{description}}</p>            
            <a href="/images/downloadvid/{{_id}}" download="new" target="_blank" class="btn btn-primary">Descargar </a>                               
            {{/each}}
    </div>
</div>

<div class="card text-center mb-3">
    <div class="card-body">   
            <h2 class="card-title">Imagenes</h2>             
            {{#each photofotos}}
            <img class="card-img-top" src="{{imageURL}}" alt="Card image cap">           
            <h3 class="card-title mb-2 text-muted">{{title}}</h3>
            <p class="card-text">{{description}}</p>            
            <a href="/images/downloadfot/{{_id}}" download="new" target="_blank" class="btn btn-primary">Descargar </a>                               
            {{/each}}
    </div>
</div>

<div class="card text-center mb-3">
    <div class="card-body">   
        <h2 class="card-title">Audio</h2>             
        {{#each photoaudios}}
        <img class="card-img-top" src="{{imageURL}}" alt="Card image cap">           
        <h3 class="card-title mb-2 text-muted">{{title}}</h3>
        <p class="card-text">{{description}}</p>            
        <a href="/images/downloadaud/{{_id}}" download="new" target="_blank" class="btn btn-primary">Descargar </a>                               
        {{/each}}
    </div>
</div>